.Comment p {
    font-size: 1.2rem;
    color: #868e96;
}

.Comment p b {
    color: #212529;
}

.CommentList {
    list-style-type: none;
    background-color: #F0F0F0;
    padding: 1rem;
    border-radius: 5px;
}

.Header {
    background-color: #00B5AD;
    color: white;
    font-size: 2rem;
    padding: 1.2rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 2rem;
}

.Navigate {
    position: relative;
}

.ui.button.Navigate-right-button {
    float: right;
    margin: 0px;
}

.Navigate-page-num {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Post {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: #FAFAFA;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.Post h1 {
    font-size: 3rem;
}

.Post p {
    font-size: 2rem;
}

.PostWrapper {
    width: 50rem;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .PostWrapper {
        width: 90%;
    }
}
.Warning-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.Warning {
    white-space: nowrap;
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgba(0,0,0,0.8);
    border-radius: 5px;
    color: white;
    font-weight: 600;
}
